html, body, #map-canvas, .container-fluid
{
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#form
{
	position: absolute;
	top: 28px;
	width: 100%;
}

#form .form-group
{
	display: flex;
	justify-content: center;
}

#q
{
	background-color: #ffffff !important;
	width: 300px;
}

#info
{
	margin: 0;
	overflow: auto;
}

#info ul
{
	margin-bottom: 0;
}
