body {
	background-image: url("background.jpg");
	background-size: cover;
}

#brand {
	align-content:  flex-start;
	background-color : #FF0000;
}

.navbar-custom{
	background-color: #2f4f4f;

}

.jumbotron-custom {
	background-color: rgba(100, 100, 100, 0.5);
}

